*.bak
*.bak-*
*.jpg~
*.png~
.vercel
.vercel/
_old-singlepage/
connect-domain.bat
deploy-cutco.bat
deploy-log.txt
domain-log.txt
node_modules
optimize/.baseline_index.html
optimize/.prev_index.html
originals/
